.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

div {
  padding: 10px;
}

.groceryItem {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}