* {
	ooutline: 1px solid gray;
}
html {
	font-size: 14px;
}

@media (min-width: 540px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 720px) {
	html {
		font-size: 18px;
	}
}
@media (min-width: 960px) {
	html {
		font-size: 22px;
	}
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.list_container {
	width: 80%;
	margin: 0 auto;
	flex-wrap: nowrap;
}

.list_item {
	line-height: 0.5rem;
}
/**
 List buttons
 */

.display_header > * {
	width: 100%;
}
input.sort_input {
	font-size: 0.8rem;
	height: 2rem;
	cursor: pointer;
	vertical-align: middle;
	padding-right: 15px;
}

input.down {
	background-image: url(./img/d_arrow.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right;
}
input.up {
	background-image: url(./img/up_arrow.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right;
}

.title {
	font-family: serif;
	font-size: 5rem;
	letter-spacing: 0.2rem;
	text-align: center;
}

.filter_container {
	text-align: center;
}

.filter_container > * {
	margin: 0 1rem;
}
/*purchase buttons*/
.purchased_btn {
	background-color: lightblue;
}

.not_purchased_btn {
	background-color: yellow;
}
/*
amount total
*/
.amount_total {
	text-align: right;
}

/**
 Add Items
 */
.add_item_display_flex {
	display: flex;
}

#add_item_toggle {
	background-image: url(./img/plus.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	width: 2rem;
}
